
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #FFF0F5;
  color: #333;
  padding: 1em;
}
header, footer {
  background-color: #FFC0CB;
  color: white;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}
a {
  color: #d63384;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.post-list article {
  background-color: white;
  border: 1px solid #f3d6e2;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffe4ec;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 12s linear infinite;
  font-weight: bold;
  color: #d63384;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
